{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'ordermanagers/style/main.css' %}">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>No title</title>
        {% endif %}
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>

    <script src=" {% static 'ordermanagers/js/main.js' %}">
    </script>

</html>
