{% extends 'blog/base.html' %}

{% block content %}
<p>This is a blog home page from new blog app</p>

<form action="add">
    <label for="">Add:</label>
    <input type="text" name="num1">
    <input type="text" name="num2">
    <input type="submit" value="Calculate">
</form>

<form action="multiple" method="POST">
    <label for="">Multiple:</label>
    {% csrf_token %}
    <input type="text" name="num1">
    <input type="text" name="num2">
    <input type="submit" value="Calculate">
</form>

<form action="submission" method="POST">
    <label for="">Submission:</label>
    {% csrf_token %}
    <input type="text" name="num1" id="">
    <input type="text" name="num2" id="">
    <input type="submit" value="Calculate">
</form>
{% endblock content %}
